[2016-06-06 10:16] mattohope opened #36 "lib/fog/azurerm/models/compute/server.rb cannot list windows machines"
line 41 of lib/fog/azurerm/models/compute/server.rb assumes that the machine is a linux box and breaks if retrieving details of a windows host.

Current code:
hash['disable_password_authentication'] = vm['properties']['osProfile']['linuxConfiguration']['disablePasswordAuthentication']

Proposed "Quick Fix"
if vm['properties']['osProfile']['linuxConfiguration']
                hash['disable_passwor

[2016-06-06 13:28] mattohope opened #37 "public ip is not assigned to nic"
following this example to create a network interface with a public ip:

    nic = azure_network_service.network_interfaces.create(
        name: '<Network Interface name>',
        resource_group: '<Resource Group name>',
        location: 'eastus',
        subnet_id: '/subscriptions/<Subscriptionid>/resourceGroups/<Resource Group name>/providers/Microsoft.Network/virtualNetworks/<Virtual Network

[2016-06-06 13:59] mbrehovsky opened #38 "Check the virtual machine status"
Hello,
is it possible to check the status of virtual machine and determine if it is Powered on or Powered off using this gem?

[2016-06-06 14:00] mbrehovsky opened #39 "VHDs management in storage account"
Are you planning to add support for VHDs management. Would be very handy to be able to list, delete vhds.

[2016-06-07 05:36] abbas-sheikh-confiz commented on #36
Hi matthope,

We are looking into this and will resolve it soon.

thanks for pointing out.

[2016-06-07 05:43] abbas-sheikh-confiz commented on #37
Hi @mattohope, yes this is an issue. We will resolve it soon.

Thanks for pointing out.

[2016-06-07 06:16] abbas-sheikh-confiz commented on #38
Hi @mbrehovsky we are looking into this and will implement this feature soon.

Thanks,

[2016-06-09 05:44] shaffan-chaudhry-confiz commented on #36
Hi @mattohope,

We have resolved this issue in this Pull Request: https://github.com/fog/fog-azure-rm/pull/54

[2016-06-09 13:05] haider-ali-confiz commented on #38
Hi  @mbrehovsky,

We have resolved this issue in this Pull Request: #59 .
The gem is not updated on rubygems.org. You can install gem using GitHub.
Please verify.

[2016-06-13 10:10] adnan-khalil-confiz commented on #37
Hi @mattohope, This issue is fixed here. https://github.com/fog/fog-azure-rm/pull/60
You can verify it by pulling latest code from here and building it yourself. Will add it in the next release.

[2016-06-13 10:10] adnan-khalil-confiz commented on #37
Will close it once verified.

[2016-06-13 16:09] mattohope commented on #37
We have checked out the latest code and tested it, we now have an assigned public IP address :)

[2016-06-15 06:18] adnan-khalil-confiz commented on #37
Great. Closing the issue now.

[2016-06-15 06:18] #37 closed

[2016-06-15 09:45] mattohope opened #65 "Public IP is mandatory"
The Server creation requires a public IP configuration, there are a number of use cases where VM's should not have a public IP address.

Can this be made optional

[2016-06-17 09:50] adnan-khalil-confiz commented on #65
Hi @mattohope, This issue is fixed here. https://github.com/fog/fog-azure-rm/pull/68
The gem is not updated on rubygems.org. Will update it in a day or two. You can install gem using GitHub.
Plz verify.

[2016-06-17 10:28] mattohope commented on #65
Thanks you very much for your speedy implementation, I'll test this and report back.

Thanks again

[2016-07-04 09:54] yaxia opened #79 "Enabling blob features of Azure storage"
Hey, since there is support for managing storage accounts, I am going to add support for the Azure storage blob features in this gem.

The storage client will be created by:
[code]
The APIs I am going to work on are:
[code]

If you don't have concern, I will start coding and submit PR later. Thanks.

+@devigned for awareness

[2016-07-04 10:26] shaffan-chaudhry-confiz commented on #79
Hello Yang,

You can add these features in the gem. You are also supposed to add unit tests of your code as mentioned in our CONTRIBUTING.md:
[](https://github.com/fog/fog-azure-rm/blob/master/CONTRIBUTING.md)

Feel free to ask questions. Thanks.

[2016-07-25 02:34] yaxia commented on #79
Thanks for reviewing and merging the code for storage containers.

[2016-07-25 02:34] #79 closed

[2016-07-25 04:35] yaxia opened #91 "Add support for getting/setting blob properties"
I saw you added the support for getting/setting blob metadata. I am going to work on the functions of getting/setting blob properties. Does it conflicts with the plan in your team?

[2016-07-25 04:37] yaxia opened #92 "Add support for uploading/downloading block blobs"
I saw you added the support for getting/setting blob metadata. I am going to work on the functions of uploading/downloading block blobs. Does it conflicts with the plan in your team?

[2016-07-25 08:06] samawia-moin-confiz commented on #91
Hi Yang,

You can add support for getting/setting blob properties. There will no conflict with our plan. Before starting work on the features, please create an issue with all the features you are planning to work on.

[2016-07-29 17:37] mattohope commented on #65
sorry i realized that i never came back to you about this, public IP is not longer mandatory, i'll close this issue

[2016-07-29 17:37] #65 closed

[2016-07-29 17:39] mattohope commented on #36
sorry i realized that i never came back to you about this, i have tested and this is no longer an issue

[2016-07-29 17:39] #36 closed

[2016-08-22 21:52] dsboulder opened #108 "The API to Storage doesn't match other providers"
We're trying to make it possible to use azure storage the same way we use AWS or GCP, which is documented at http://fog.io/storage/.  Unfortunately the methods and objects in the azure storage models don't match the other Fog providers.  Would it be possible to implement the standard `directories` and `files` concept?  A proposed set of API calls would be like so:

[code]

I know it's a lot of wor

[2016-08-23 14:09] abbas-sheikh-confiz commented on #108
Hi,

We are evaluating your suggestions, our team is busy for couple of teams. We will respond you soon.

Thanks,

[2016-08-29 17:42] dsboulder commented on #108
@abbas-sheikh-confiz I'm going to try to bring this up to @abelhu and Ning and Gil, the people we're working with at Microsoft to support Cloud Foundry.  Maybe they can help get y'all resources, I'm sure you've got a big backlog of work on fog azure.

[2016-08-30 00:09] yaxia commented on #108
I will be working on it.

[2016-08-31 13:04] shaffan-chaudhry-confiz commented on #108
@dsboulder @yaxia
Files and Blobs are two different concepts in Azure. So there will be a conflict if we would add Files module in future in fog-azure-rm or end user may get confuse.

[2016-09-01 02:16] yaxia commented on #108
Yes, Blobs and Files are different in Azure Storage. However, there is no File service API supported in the azure-storage gem for now. So the best mapping for the directory and file in the Fog is container and blob. We may consider switch to the File APIs when they are ready in the azure-storage gem, otherwise we need call with REST APIs for File directly.

[2016-09-05 03:18] AbelHu commented on #108
@yaxia @shaffan-chaudhry-confiz , from my understanding, files in other platforms are same as blobs in Azure storage. We should keep to use files/directories in azure-fog-rm to operate blobs. Azure file service is different and the share folders can be mounted inside VMs directly.

[2016-09-06 04:00] yaxia commented on #108
Yes, file service is suitable for sharing data using SMB 3.0 and migrate file share-based applications to the cloud with no code change. However, it doesn't prevent you from calling REST APIs to operate on shares, directories and files directly.

@shaffan-chaudhry-confiz is your concern about the confusing naming or the functionalities that the gem exposes? Is it on your plan that exposes both Blo

[2016-09-07 08:59] abbas-sheikh-confiz opened #141 "Add New Fog Members"
Hi @geemus ,

Please include following github users as repo members.
bilal-naeem-confiz, waqar-haider-confiz

Regards,

[2016-09-07 19:04] geemus commented on #141
Certainly, they should be invited.

[2016-09-07 19:04] #141 closed

[2016-09-15 13:48] abbas-sheikh-confiz commented on #108
@yaxia, yes we are concerned about confusion in naming for Azure Blob and File service. Naming Azure Blob 'File' would conflict with Azure Storage File service.
However, currently we do not have plan to add support for Azure File service in Fog Azure RM. In future, we might have to deal with this naming conflict problem once support for File service is required.

[2016-09-15 18:39] yaxia commented on #108
@abbas-sheikh-confiz Thanks for clarifying. Understood your concern and I believe the AWS provider has the same issue when they want to support Amazon EFS while they are using bucket and object for now.

The conflicts in PR #95 have been resolved, please take a look. Thanks.

[2016-09-15 20:56] AbelHu commented on #108
Thanks @yaxia . @abbas-sheikh-confiz AWS, OpenStack, etc. use directories/files to operate folders and binaries (Just as same as containers/blobs on Azure). If Azure uses different names, current software such as cf-release cannot work on Azure.

[2016-10-03 08:43] #38 closed

[2016-10-24 06:20] AbelHu commented on #108
@dsboulder I am working on this to provide the same APIs as AWS, OpenStack, etc.

[2016-10-24 06:25] AbelHu opened #184 "One question about 'compare_blob'"
@zeeshan-arshad-confiz, which is using ['compare_blob'](https://github.com/fog/fog-azure-rm/blob/61595542687c0c4708052b9d91457680f3668712/lib/fog/azurerm/requests/storage/compare_blob.rb)?
I am refining storage part so I am considering to remove it if it is not used.
Who wants to use this function can use directories.get('c1').files and directories.get('c2').files to compare blobs easily.

[2016-10-27 09:14] AbelHu opened #196 "Should not upload_block_blob_from_file use to upload a disk."
@samawia-moin-confiz Should not upload_block_blob_from_file use to upload a disk. Please create a new request to upload the disk, for example, upload_page_blob_from_file.

https://github.com/fog/fog-azure-rm/blob/master/lib/fog/azurerm/requests/storage/create_disk.rb#L12

[code]

[2016-10-28 08:05] AbelHu commented on #196
@samawia-moin-confiz I am working on storage parts. So maybe you can wait me to summit the PR which has implemented to upload a page blob.

[2016-10-31 06:16] samawia-moin-confiz commented on #196
Hi AbelHu,

Please tell me till when you will summit your PR, if its early then I can wait for your PR, otherwise I can implement it.

[2016-10-31 08:37] AbelHu commented on #196
@samawia-moin-confiz I will create a PR soon. Actually the code is almost ready, I am working on test cases.

[2016-11-04 07:43] longkt90 opened #201 "azurerm has no storage service (Fog::Service::NotFound)"
Currently if we use fog (full addons) or fog-aws together with fog-azure will cause this error.

Because fog (full version) and others fog addons use fog-json to standardize the JSON encode/decode. So Fog::JSON.parse will use fog-json and this module doesn't have parse method. It raises NameError: undefined method and will be rescued and re-raise with Fog::Service::NotFound, "#{provider} has no #{

[2016-11-08 09:05] #184 closed

[2016-11-08 09:08] AbelHu commented on #196
@samawia-moin-confiz I have updated create_disk/delete_disk in my PR #204. You can continue to implement create_disk.

[2016-11-16 05:51] longkt90 commented on #201
Close as fixed in https://github.com/fog/fog-azure-rm/pull/216

[2016-11-16 05:51] #201 closed

[2016-11-17 10:00] #108 closed

[2016-11-18 03:23] AbelHu commented on #92
@yaxia I think this can be closed now.

[2016-11-18 03:23] AbelHu commented on #91
@yaxia I think this can be closed now.

[2016-11-18 05:46] #92 closed

[2016-11-18 05:46] #91 closed

[2016-11-18 07:40] abbas-sheikh-confiz commented on #196
@AbelHu did you mean create/delete data disk changes in PR #220?
We do not see any changes in PR #204 .

Please confirm.

Thanks,

[2016-11-18 08:18] AbelHu commented on #196
@abbas-sheikh-confiz Sorry for the confusion. In #204, I only updated some code in create_disk/delete_disk but did not implement them. I added above comments before you merged the PR #204.
Today I created the PR #220. I think it was associated to #220 automatically by GitHub because I added 'Close #196' in the description of PR #220.

[2016-11-21 12:56] #196 closed

[2016-11-22 03:16] AbelHu opened #223 "Different Azure cloud environment support"
@abbas-sheikh-confiz storage in v0.1.1 only supports `AzureCloud`. Later we will add support for `AzureChinaCloud`, `AzureUSGovernment` and `AzureGermanCloud`.
To keep consistent with [azure-cli](https://github.com/Azure/azure-xplat-cli/blob/bea341b53149246fb61b95883aa34b72a7e980f2/lib/util/profile/environment.js) and [azure-powershell](https://github.com/Azure/azure-powershell/blob/2eaf6175bc2533

[2016-11-22 07:02] zeeshan-arshad-confiz commented on #223
@AbelHu it sounds like a good idea. Because it will keep our gem consistent with azure-cli and azure-powershell also we will not be locked to use a single Azure environment for different cloud services at a time.
When are you planning to add support for ```AzureChinaCloud```, ```AzureUSGovernment``` and ```AzureGermanCloud```?

[2016-11-23 01:37] AbelHu commented on #223
@zeeshan-arshad-confiz We plan to add support for other environments soon but no ETA for now.

[2016-11-23 08:50] AbelHu commented on #223
For names mismatch, I filed an issue [here](https://github.com/Azure/azure-sdk-for-ruby/issues/600)

[2016-12-07 15:31] #223 closed

[2016-12-26 13:27] samawia-moin-confiz opened #229 "Move sql module to azure sdk"
As sql server and sql databases are using rest client calls for api calling, and some of the responses have been changed for sql databases, due to which parsing is breaking for sql databses so i suggest we should move sql server and sql databases to azure sdk 0.8.0, as they have added the support of sql in SDK.

[2016-12-28 07:23] samawia-moin-confiz opened #231 "Add requests for Exists functionality"
Fog ARM currently does not support checking for existence of a resource, however this feature will be used in future. Implement "exists" request for all the Fog ARM resource.

[2016-12-28 10:59] zeeshan-arshad-confiz commented on #39
Hi @mbrehovsky

VHDs are also blobs. We have list and delete blob functionality in fog-azure-rm. We can use blobs to manage VHDs. There is no separate API/SDK calls for VHD management in Azure Resource Manager.

Thanks

[2016-12-29 09:31] bilal-naeem-confiz opened #232 "Move Recovery Vault to Azure SDK"
Currently, Recovery Vault is using REST client calls for API calls, because Azure SDK did not provide support for Recovery Vault. Now, support for Recovery Vault has been added as a separate gem `azure_mgmt_recovery_services`. Recovery Vault needs to be moved to use the SDK calls provided in the gem instead of REST client calls.

[2016-12-29 18:34] gVien opened #233 "fog-azure gem vs. fog-azure-rm gem vs. azure-sdk-for-ruby gem"
I'm trying to determine the right gem to help our team incorporate Azure into our devops app but I see several Azure gems out there and not entirely sure of the right choice.

After going over several gems, it looks like the [fog-azure gem](https://github.com/fog/fog-azure) is deprecated. Is [Fog-azure-rm gem](https://github.com/fog/fog-azure-rm) the replacement for the fog-azure gem?

Microsoft s

[2016-12-30 05:28] bilal-naeem-confiz commented on #233
Hi @gVien

`Azure SDK` is being actively developed and it supports all the latest features that are present in Azure. The SDK consists of multiple gems, each focused on providing a single service, such as `azure_mgmt_compute` for compute related services, `azure_mgmt_network` for network related services and so on.

`Fog` on the other hand is a cloud services library. `Fog` provides a simple inter

[2017-01-03 05:17] waqar-haider-confiz commented on #229
Implementation is complete, here is the pull request for the issue.
https://github.com/fog/fog-azure-rm/pull/234

[2017-01-03 06:29] samawia-moin-confiz commented on #231
Done adding exists functionality across all models.

[2017-01-03 06:31] #231 closed

[2017-01-03 11:10] zeeshan-arshad-confiz commented on #231
#235 Link to implementation

[2017-01-03 11:35] #229 closed

[2017-01-03 11:49] zeeshan-arshad-confiz opened #236 "Remove unnecessary required attributes from Application Gateway"
Remove unnecessary required attributes from Application Gateway and add some necessary attributes in it.

* Add `subnet_id` attribute in AG `frontend_ip_configuration`
* Add `id` attribute in all objects(listener, ssl_certificate) under application gateway.
* Remove some of unnecessary required statements from `fronend_ip_config` validation in model/application_gateway/gateway.rb file.
* Remove so

[2017-01-04 05:38] samawia-moin-confiz opened #237 "Add missing requests in load balancer"
Implement missing request in Load Balancer:
1. list_all

[2017-01-10 08:00] samawia-moin-confiz opened #239 "Add missing requests in virtual network"
Implement missing request in Load Balancer:

1. list_all

[2017-01-10 08:00] samawia-moin-confiz commented on #237
Request has been added in load balancer.

[2017-01-10 08:00] #237 closed

[2017-01-10 09:41] samawia-moin-confiz commented on #239
Request has been implemented.

[2017-01-10 09:41] #239 closed

[2017-01-10 11:52] samawia-moin-confiz opened #242 "Fix check exists name issue"
Currently we have implemented requests to add 'exists' functionality in Fog-ARM. These request files contains '?' as part of their names. Windows OS doesn't allow us to create a file name having special character in the file name. So Windows users will be unable to pull this latest change.

Please update request file names having special characters in their names.

[2017-01-10 11:53] samawia-moin-confiz commented on #242
Fixed issue: https://github.com/fog/fog-azure-rm/pull/241

[2017-01-10 11:53] #242 closed

[2017-01-12 09:35] samawia-moin-confiz commented on #236
Removed unnecessary attributes from application gateway and implemented corresponding functionality.

[2017-01-12 09:35] #236 closed

[2017-01-12 11:04] bilal-naeem-confiz commented on #232
Multiple components which are a part of Recovery Vault, like `ProtectionContainers`, `ProtectedItems`, `ProtectionPolicy` have issues related to the `azure_mgmt_recovery_services_backup` gem. Issues have been created on the Azure SDK repository regarding these problems.  The following are the issues created

- [#650](https://github.com/Azure/azure-sdk-for-ruby/issues/650)

- [#647](https://github.

[2017-01-13 06:17] bilal-naeem-confiz opened #248 "Check Storage Account Name Availability"
Check storage account name availability needs to be implemented correctly. Consumer of fog should not pass an SDK object to the request. Instead only name and type of storage account should be passed.

[2017-01-13 06:18] bilal-naeem-confiz opened #249 "Check Storage Account Exists"
Check exists of storage account should be changed to check the provisioning state of the object.

[2017-01-13 06:19] bilal-naeem-confiz opened #250 "Create Virtual Machine Additional Parameters"
The request to create virtual machine should be updated to include caching type of os_disk as an optional parameter.

[2017-01-13 08:03] bilal-naeem-confiz commented on #248
Pull request [251](https://github.com/fog/fog-azure-rm/pull/251)

[2017-01-13 11:36] bilal-naeem-confiz commented on #249
Pull Request: https://github.com/fog/fog-azure-rm/pull/252

[2017-01-13 12:18] #249 closed

[2017-01-13 12:18] #248 closed

[2017-01-13 13:17] bilal-naeem-confiz commented on #250
Pull Request: https://github.com/fog/fog-azure-rm/pull/253

[2017-01-13 13:17] #250 closed

[2017-01-14 01:06] gVien opened #255 "create_or_update_async option for creating VM"
I looked over the [source code](https://github.com/fog/fog-azure-rm/blob/master/lib/fog/azurerm/requests/compute/create_virtual_machine.rb) for creating the VM. It looks like the method `create_or_update` was used instead of `create_or_update_async`. I think if this method (`create_virtual_machine`) is used on an application, it would create a delay after hitting the submit button (correct me if I

[2017-01-17 10:47] samawia-moin-confiz opened #256 "Fix NIC for updating attributes of load balancer"
NIC isn't handling update in load balancer attributes.

[2017-01-17 10:57] samawia-moin-confiz commented on #256
Updated code in fog azurerm.

[2017-01-17 10:57] #256 closed

[2017-01-17 12:34] #233 closed

[2017-01-18 06:14] bilal-naeem-confiz opened #260 "Create Models for SDK Enums"
Currently we are using SDK models for string values such as `Azure::ARM::Network::Models::IPAllocationMethod::Dynamic`. We should create Fog models for each of these SDK models.

[2017-01-19 12:29] bilal-naeem-confiz commented on #260
Pull request: https://github.com/fog/fog-azure-rm/pull/262

[2017-01-19 12:29] #260 closed

[2017-01-25 05:49] bilal-naeem-confiz commented on #232
Recovery Vault issues will be resolved in the next release of Azure SDK v0.9.0.
The task will resume when the next gem will be released. The milestone for the release of Azure SDK gem can be viewed **[here](https://github.com/Azure/azure-sdk-for-ruby/milestone/13)**

[2017-01-25 06:25] bilal-naeem-confiz opened #265 "Fog Models for Azure SDK Enums"
Create Fog Models for Azure SDK Enums to be used in the entire code-base instead of using strings

[2017-01-27 09:22] zeeshan-arshad-confiz opened #266 "Unable to assign Network Security Group for Network Interface"
I am unable to assign a network security group to a network interface card.
Need to fix it so I can assign any security group to a network interface.

[2017-01-28 03:04] xsited opened #269 "Multiple NICs support for service.servers.create"
If I did not understand the implementation correctly I apologize in advance. It seems that only one NIC is allowed to be configured when creating a VM.  And a custom one in particular. Perhaps this ticket offers an opportunity further the this great implementation.

[2017-01-30 07:02] samawia-moin-confiz opened #270 "Uanble to get storage_account_name by getting virtual machine"
Currently get virtual machine in fog is not returning storage account name in vm object. Modify the code to return storage account name.

[2017-01-30 12:05] shaffan-chaudhry-confiz commented on #270
This issue is resolved in this PR: https://github.com/fog/fog-azure-rm/pull/271

[2017-01-30 12:05] #270 closed

[2017-02-07 12:51] shaffan-chaudhry-confiz opened #274 "Update Traffic Manager Profile to receive Endpoints"
Update Traffic Manager Profile create method to receive and create Endpoints with it.

[2017-02-08 06:09] shaffan-chaudhry-confiz commented on #274
- Updated Traffic Manager Profile create method to receive and create Endpoints with it
- Updated unit test and integrations test.

[2017-02-08 06:09] #274 closed

[2017-02-09 08:08] samawia-moin-confiz commented on #255
Hi,

Currently, there is no option to create or update the VM asynchronously. We will respond you soon about adding this feature in the gem.

Thank You

[2017-02-10 22:30] gVien commented on #255
The Azure Compute SDK doc mentions `create_or_update_async` so can that be used instead of the `create_or_update` method? I haven't fully tested that method so I wouldn't know what behavior it exhibits.

[2017-02-14 20:06] gVien commented on #255
@samawia-moin-confiz, I'm curious if there are any updates on this question. I thought you meant Azure SDK doesn't have an option to create or update the VM asynchronously but you meant Fog Azure RM gem. If the feature isn't available, I guess I can use a mixture of Fog (for resource group, storage, etc creation) and Azure SDK (to take advantage of the asynchronous VM methods).

[2017-02-20 07:28] zeeshan-arshad-confiz opened #278 "Add support for Azure Managed Disk"
Add support for [Azure Managed Disk](https://docs.microsoft.com/en-us/azure/storage/storage-managed-disks-overview) in Fog-ARM.
You can find `Azure Managed Disk` SDK [here](https://github.com/Azure/azure-sdk-for-ruby/blob/master/management/azure_mgmt_compute/lib/generated/azure_mgmt_compute/disks.rb)
You can find `Azure Managed Disk` API [here](https://docs.microsoft.com/en-us/rest/api/manageddisk

[2017-02-20 07:32] zeeshan-arshad-confiz commented on #266
Issue is now fixed. Here is the pull request link:
https://github.com/fog/fog-azure-rm/pull/268

[2017-02-20 07:32] #266 closed

[2017-02-20 07:34] zeeshan-arshad-confiz commented on #265
Fog Models for Azure SDK enums have been added. Here is the pull request link:
https://github.com/fog/fog-azure-rm/pull/262

[2017-02-21 15:37] abbas-sheikh-confiz commented on #255
@gVien we are evaluating this issue and will respond soon.

[2017-02-21 15:41] abbas-sheikh-confiz commented on #269
@xsited
Yes you are right. Thanks for pointing it out.
Can you please share more detail about your specific use case, we will address this issue.

Thanks,

[2017-02-23 03:29] xsited commented on #269
Thanks.

use case is nat gateway.  if I recall, all the code seems to be there underneath the hood.   it is just that server call does not pass down an array of nics.  here is the similar interface from aws.

[code]

[2017-02-23 06:53] shaffan-chaudhry-confiz commented on #255
Resolved in this PR: https://github.com/fog/fog-azure-rm/pull/279

[2017-02-23 06:53] #255 closed

[2017-02-23 12:15] shaffan-chaudhry-confiz commented on #269
Resolved in this PR: https://github.com/fog/fog-azure-rm/pull/280

[2017-02-23 12:15] #269 closed

[2017-02-24 21:11] gVien commented on #255
Thanks for the quick turn around! I'm curious if this will bump up the version to 0.2.8? reinstalling with `gem install fog-azure-rm` doesn't pull the latest changes, so it hasn't been published to rubygem.org?

[2017-02-25 06:52] zeeshan-arshad-confiz commented on #255
@gVien we have not published the new gem yet. We will publish the new gem in next couple of days with some more bug fixes.
Regarding gem version, it will not be 0.2.8 as we have some major changes as well.
We will let you know after publishing the gem. Stay tuned.

[2017-02-28 07:22] zeeshan-arshad-confiz commented on #278
Support for Managed Disk is done in fog.
Pull request link: https://github.com/fog/fog-azure-rm/pull/281

[2017-02-28 07:22] #278 closed

[2017-03-20 14:15] 01100010011001010110010101110000 opened #284 "Managed OS Disk"
Unless I'm missing something, I don't think it is currently possible to use this library to create a VM with a managed disk for the OS disk, is this a planned feature?

[2017-03-20 15:49] 01100010011001010110010101110000 commented on #284
Here's some code that creates a managed VM using the Azure Ruby SDK:
[code]
This requires the use of the image ID instead of the VHD URI, which I know is what you guys currently use for custom images, and in fact I don't think it will work with a custom image created from an unmanaged VM; every time I tried to use such an unmanaged image the call returned `The resource ManagedOSTest cannot be crea

[2017-04-05 20:11] 01100010011001010110010101110000 opened #285 "fog-core dependency"
I am using this library in [Foreman Azure RM](https://github.com/01100010011001010110010101110000/foreman_azure_rm)
to add ARM as a compute resource for [The Foreman](https://github.com/theforeman/foreman). Foreman's current fog-core version is pegged at 1.42.0, and this library's fog-core version is pegged to ~> 1.43.0, which is somewhat problematic for development.
The changelog for fog-core to

[2017-04-06 06:29] abbas-sheikh-confiz commented on #284
Hi,

We are evaluating this and will share update shortly.

Thanks,

[2017-04-06 13:36] bilal-naeem-confiz commented on #285
Hi @01100010011001010110010101110000

I have looked into your request about downgrading the fog-core version to 1.43.0. As it stands right now, we are not going to do that. What you can do however, is clone this repo, change the version of fog-core in the gemspec to 1.42.0, build and install the gem.
If I may ask about your development environment, if you are using fog-core 1.42.0, it should be ea

[2017-04-06 13:41] 01100010011001010110010101110000 commented on #285
For the purposes of development, I just bumped the version of fog-core in my development install of Foreman to 1.43. Unfortunately, doing that in our production install of Foreman is not acceptable from a best practices standpoint, and so I will probably just build a version of your gem with the dependency downgraded to 1.42 while I wait for the guys at The Foreman to bump their fog-core version.

[2017-04-10 09:02] #285 closed

[2017-05-04 05:44] gVien opened #288 "Make all other Azure methods (deallocate, stop, delete, etc.) asyncronous"
A while back I requested to allow [creating a VM asynchronously](https://github.com/fog/fog-azure-rm/issues/255). Can we add the sync feature to all the other methods such as deallocate, stop, delete, etc. as shown here https://github.com/fog/fog-azure-rm/blob/master/lib/fog/azurerm/models/compute/server.rb? It seems to me that the async methods are available on the [Azure SDK](https://github.com/

[2017-05-10 16:46] guigui89 opened #289 "Create deployment with template body"
Hello. AzureRM fog currently does not support for creating a deployment with template body. It is only possible with the template uri. Is there any way to create a deployment with template body by using ARM template's relative file path? Or Are you planning to add this feature?
Thank you.

[2017-05-11 05:33] bilal-naeem-confiz commented on #288
Hi @gVien
After going through the Azure SDK, the async methods are indeed available. The process of adding async requests for all the other methods will be quite similar to what we did for `create_or_update`. I will discuss this with the team and get back to you shortly.
Thanks

[2017-05-16 11:46] bilal-naeem-confiz commented on #284
This feature has been added [#290](https://github.com/fog/fog-azure-rm/pull/290)

[2017-05-16 11:46] #284 closed

[2017-05-18 07:12] humna-naeem-confiz opened #291 "Fix Documentation Issue"
Documentation for compute has some typos.

[2017-05-18 07:20] bilal-naeem-confiz commented on #291
This has been fixed in the PR https://github.com/fog/fog-azure-rm/pull/292

[2017-05-18 07:20] #291 closed

[2017-07-06 20:39] gVien commented on #288
I'm curious if there are any updates on this issue?

[2017-07-07 04:33] bilal-naeem-confiz commented on #288
Hi @gVien

Yes we have made progress on this issue. It will be released in the next version of the gem.

[2017-07-20 12:02] bilal-naeem-confiz commented on #288
Hi @gVien

The compute methods for server have been made asynchronous. You can see the changes in the PR[#294](https://github.com/fog/fog-azure-rm/pull/294)

[2017-07-20 12:02] #288 closed

[2017-08-09 13:14] bilal-naeem-confiz opened #295 "Fix AccessPolicyEntry Model"
In the service `key_vault`, the model `AccessPolicyEntry` should not have a `save` method. Update the model and remove the said method.

[2017-08-18 09:38] bilal-naeem-confiz opened #297 "Fog ARM Unit Tests"
Verify if all the unit tests are working by running the tests
- Independently
- Rake task

The unit tests were failing when running them via Rake task. Identify and fix the issue.

[2017-09-05 06:44] abbas-sheikh-confiz opened #298 "Add Support to Attach Managed Data Disk to VM"
Presently, Fog ARM does not allow to attach managed data disk to a VM.
Add support to attach managed DD to VM.

[2017-09-11 07:08] abbas-sheikh-confiz opened #299 "Add New Repo Members"
Hi @geemus,

I hope you are doing great, please add following github users as repo members.
dandagopi, rameshjanjyam, sleepyorion, azeem-sajid-confiz, muhammad-asad-confiz, maham-nazir-confiz

Thanks,

[2017-09-11 09:30] abbas-sheikh-confiz opened #300 "Add Support for Resource Tagging During Resource Creation"
Currently, resource tagging is available after a resource has been created. We need to add support for resource tagging while a resource is being created.

[2017-09-11 09:33] abbas-sheikh-confiz opened #301 "Region based Fault Domain and Update Domain handling in Availability Set for Azure Global"
Currently, Fault domain and update domain handling is hard-coded in availability set. We need to add support to FD and UD based on region in availability set.

[2017-09-11 18:35] abbas-sheikh-confiz opened #302 "Add Support for Managed Availability Set"
In Fog ARM, while creating availability set we are ONLY creating un-managed availability set(default). When we add a managed OS disk VM to this availability set, we are getting following error

Add option to create managed availability set as well so that managed OS disk VMs can be added to it. Here is the relevant [API link](https://docs.microsoft.com/en-us/rest/api/compute/availabilitysets/avail

[2017-09-11 21:05] geemus commented on #299
I hope you are doing great also. I've sent invites for all of those users, just let me know if you need anything else.
Thanks!
wes

[2017-09-11 21:05] #299 closed

[2017-09-12 06:40] kulgh opened #303 "Add support for generic security groups"

[2017-09-12 06:41] kulgh opened #304 "General Code pruning"

[2017-09-12 06:41] kulgh opened #305 "Impact analysis one exisiting vs newly provisioned VMs"

[2017-09-12 06:43] kulgh opened #306 "Make Azure Fog as rest calls to reduce dependency on azure sdk"

[2017-09-13 21:19] phanindrakalva opened #307 "creating Disks fails with uninitialized constant Azure::Core"
I'm unable to create the disks in azure. Below are the steps I did to create but it is failing.

Versions:
fog-azure-rm (0.3.2)
ruby version 2.4.0

[code]
[code]

[2017-09-14 05:03] bilal-naeem-confiz commented on #307
Hi @phanindrakalva
Make sure you have all the gems installed. I executed the integration test for `data_disk` and it ran smoothly. Can you share your script which you are using to create the data disk?

[2017-09-14 05:26] phanindrakalva commented on #307
@bilal-naeem-confiz, Below is the script I used

[code]

[code]

[2017-09-14 06:29] bilal-naeem-confiz commented on #307
@phanindrakalva if you don'e mention the container name in the `create_disk` method, it would try to create the disk in the default container `vhds`. Can you verify if there is a container named `vhds` in your storage account. If there isn't, then you would have to create the container first and create the disk after that.

[2017-09-14 06:47] phanindrakalva commented on #307
@bilal-naeem-confiz I'm using `azure_storage_service` to create the disks and they are failing. I tried with container as well and it failed

`azure_storage_service.create_disk('disk_name',1023, :container_name => 'test')
`
[code]

[2017-09-14 06:55] bilal-naeem-confiz commented on #307
@phanindrakalva have you given storage account name and storage account key to `azure_storage_service` that you created?

[2017-09-14 07:07] phanindrakalva commented on #307
@bilal-naeem-confiz You are awesome!!!  It worked

I was creating the wrong object. I'm creating the object with tenant_id, client_id and secret keys but I need to create it using storage account and storage keys. Thank you so much.

[2017-09-14 07:07] #307 closed

[2017-09-14 07:15] bilal-naeem-confiz commented on #307
@phanindrakalva happy to help

[2017-09-14 21:27] phanindrakalva commented on #298
is this fixed? is there a another way to attach the managed disks to vm in ruby?

[2017-09-15 02:04] bilal-naeem-confiz commented on #298
@phanindrakalva we are currently working on this issue. We will generate a PR for this issue as soon as it is done.

[2017-09-21 03:49] bilal-naeem-confiz commented on #302
This issue has been resolved in [PR#308](https://github.com/fog/fog-azure-rm/pull/308)

[2017-09-21 03:49] #302 closed

[2017-09-21 03:49] bilal-naeem-confiz commented on #301
This issue has been resolved in [PR#312](https://github.com/fog/fog-azure-rm/pull/312)

[2017-09-21 03:49] #301 closed

[2017-09-21 03:54] bilal-naeem-confiz commented on #295
This issue is being handled in the [PR#313](https://github.com/fog/fog-azure-rm/pull/313)

[2017-09-22 20:12] phanindrakalva opened #317 "How to increase os_disk size"
is there a way to increase os disk size while creating a vm?

[2017-09-25 06:09] bilal-naeem-confiz commented on #317
Hi @phanindrakalva
Currently fog-azure-rm does not have support to set the size of the os disk when creating a VM. This support will be added in the future.
I will keep this issue open for reference purposes.

[2017-09-25 06:10] #295 closed

[2017-09-25 06:12] bilal-naeem-confiz opened #318 "Remove RecoveryVault Support"
As of version 0.3.3, Fog ARM has removed dependency on RestClient 2.0.0. This has caused the RecoveryVault code to break. The RecoveryVault feature will be removed from Fog ARM.

[2017-09-25 12:05] bilal-naeem-confiz commented on #318
This issue has been resolved. #319

[2017-09-25 12:05] #318 closed

[2017-09-26 05:14] bilal-naeem-confiz commented on #317
Hi @phanindrakalva
This issue is being catered in #321

[2017-09-26 17:13] phanindrakalva commented on #317
Thank you @bilal-naeem-confiz

[2017-09-26 17:13] #317 closed

[2017-09-29 22:29] phanindrakalva commented on #317
@bilal-naeem-confiz the os_disk_size is only for managed disks or it can be used for blob's as well?

[2017-10-02 04:41] bilal-naeem-confiz commented on #317
@phanindrakalva it can be used for both managed disks and blob's

[2017-10-03 07:03] azeem-sajid-confiz commented on #300
Resolved with PR #327
Release v0.3.4 has Resource Tagging support.

[2017-10-03 07:03] #300 closed

[2017-10-03 07:08] bilal-naeem-confiz commented on #298
This has been added. PR #326

[2017-10-03 07:08] #298 closed

[2017-10-03 07:09] bilal-naeem-confiz commented on #297
This issue has been fixed. PR # #314

[2017-10-03 07:09] #297 closed

[2017-12-09 14:58] bingosummer opened #357 "The integration test of container.rb failed"
[code]

After I remove the lines in `container.rb`, the test is succeeded. Could you please have a look?

[code]

[2017-12-13 06:32] bingosummer commented on #357
@azeem-sajid-confiz Could you please have a look?

[2017-12-13 06:38] iamAzeem commented on #357
@bingosummer
Which lines you removed? The existence test at the end?
Following two lines?
[code]

@maham-nazir-confiz
Kindly take a look at this issue.

[2017-12-13 06:43] bingosummer commented on #357
@iamAzeem yes. The existence test.
I found that the test `container.rb` would fail with these two lines, from my side.
Not sure whether it is reproducible from your side.

[2017-12-13 10:04] maham-nazir-confiz commented on #357
@bingosummer
Hi, this error happens because of a fault in the latest `azure-core` gem (version 0.1.13). We have requested them to fix this issue.
This is the link of the PR in which this issue has been fixed.
Link => https://github.com/Azure/azure-ruby-asm-core/pull/52
Feel free to use this PR to build the `azure-core` gem or you can downgrade to version 0.1.12. The error doesn't occur in that ver

[2017-12-15 05:34] #357 closed

[2017-12-15 08:06] bingosummer opened #359 "Bundler could not find compatible versions for gem "mime-types""
I'm trying to use the version `0.3.9` of fog-azure-rm in another project [cloud_controller_ng](https://github.com/cloudfoundry/cloud_controller_ng).
In https://github.com/cloudfoundry/cloud_controller_ng/blob/master/Gemfile#L19, `'mime-types', '~> 2.6.2'` is needed, which causes the following error.

My question is that can fog-azure-rm use a newer version of mime-types?
If so, I think, the issue

[2017-12-15 11:34] abbas-sheikh-confiz commented on #359
Hey @bingosummer
We are working on altogether removing dependency on mime-types. Please stay tuned.

[2017-12-20 06:48] #306 closed

[2018-01-03 09:34] bilal-naeem-confiz opened #365 "Fog ARM Access"
Hi @geemus,

Please give contributor access to the following users
- maham-nazir-confiz (maham.nazir@confiz.com)
- muhammad-asad-confiz (muhammad.asad@confiz.com)

Thanks

[2018-01-03 15:19] geemus commented on #365
@bilal-naeem-confiz I sent an invite to maham-nazir-confiz, the interface says there is already an invite pending to muhammad-asad-confiz. Just let me know if you need anything else, thanks!

[2018-01-03 15:19] #365 closed

[2018-01-04 06:19] bilal-naeem-confiz commented on #365
Thanks @geemus

[2018-01-04 06:52] bilal-naeem-confiz commented on #359
Hi @bingosummer
The latest version of fog-core has been released (2.0.0). We are testing our fog-azure-rm gem using that. If everything works out smoothly, then we will remove the dependency that we have on mime-types and that will resolve the issue that you are currently facing.
Thanks

[2018-01-04 17:05] ClaudiaBaur opened #367 "Add Fog Support for Azure Stack"
The cf cloud controller uses Fog for ARM as default for the blob store. In Fog, only endpoints for public Azure, China, US_Government and Germany are implemented, but not for Azure Stack yet.
See also storage_endpoint_suffix in https://github.com/fog/fog-azure-rm/blob/72c7dd1724368fba9f6a88d18991f6ed999dec8c/lib/fog/azurerm/utilities/general.rb#L109-L126
As a result, the storage_endpoint_suffix on

[2018-01-05 05:32] bilal-naeem-confiz commented on #367
Hi @ClaudiaBaur
We are looking into this and will get back to you shortly.

[2018-01-24 05:44] bingosummer commented on #359
@bilal-naeem-confiz How is the test going?

[2018-02-27 03:29] bingosummer commented on #367
I made some changes to support Azure Stack.
https://github.com/bingosummer/fog-azure-rm/commits/support-azure-stack-storage

One issue is that the version of `mime-types` is too old. See #359.
If the dependency of `mime-types` can be removed, then the fog-azure-rm gem can work well with cloud foundry controller.

[2018-02-27 06:28] #39 closed

[2018-05-11 15:34] tcdowney commented on #359
@bilal-naeem-confiz just wondering if you have any updates for this. Thanks!

[2018-05-16 22:28] dsboulder commented on #367
I'm very interested in this, is anyone willing to think about merging it?

[2018-05-16 22:52] zrob commented on #367
Hey all,

A member of the team that maintains the cloud controller component for Cloud Foundry here.  We would really like to be able to support folks on Azure Stack via Fog.

It would be great to hear what y'all think about the example changes above and if you plan to make any of these updates soon.

Thanks!

[2018-05-17 01:39] bingosummer commented on #367
@dsboulder @zrob We had an offline discussion with `fog-azure-rm` team. From fog-azure-rm's point of view, updating the `mime-types` will cause conflicts in another application that are using fog-azure-rm e.g. [OneOps](https://github.com/oneops/oneops). So `mime-types` won't be updated in near future.

The short term plan is: I forked fog-azure-rm to my personal org (CloudFoundryOnAzure).
https://

[2018-05-17 07:37] ClaudiaBaur commented on #367
I am also still waiting for this, would be interested to test...

[2018-05-17 22:14] zrob commented on #367
I'd like to propose that the fog-azure team consider publishing an updated gem with updated mime-types.  Any projects that have an issue moving forward can always pin their version to one that works for them.

It seems awkward to block moving this project forward on another project updating its dependencies. This seems like exactly what Gemfiles are designed to help with.

By not upgrading it also

[2018-05-18 00:40] bingosummer commented on #367
Thanks @zrob . I totally agree with you.

@abbas-sheikh-confiz , after our last sync, could you please re-think about merging the codes? If you are OK, I can send a PR ASAP.

[2018-05-18 04:27] bilal-naeem-confiz commented on #367
@zrob @bingosummer
I am thinking maybe we can create a separate branch in which we update the gem dependencies to what you guys require and release the gem as vA.B.C.1 (currently the version is 0.4.7 so your release would be something like v0.4.7.1).
Will this work for you guys?

[2018-05-22 05:53] bingosummer commented on #367
Thanks @bilal-naeem-confiz .
@zrob , any comments on bilal's suggestion?

[2018-05-22 16:14] zrob commented on #367
@bilal-naeem-confiz that sounds good and would be greatly appreciated :)

[2018-05-23 06:47] bilal-naeem-confiz commented on #367
@bingosummer @zrob
I have created a separate branch for this named **fog-arm-cf**. Can you kindly close your existing PRs and generate PRs against this branch. I'll merge them and release a new fog-azure-rm gem for you guys to use.

[2018-05-27 16:00] bingosummer commented on #367
Thanks @bilal-naeem-confiz . I will submit a PR to the new branch later.

[2018-05-28 22:10] easkay opened #387 "Storage#get_blob_properties mock is inaccurate"
Hi Folks,

Thanks for taking the time to read this. I'm using fog-azure-rm to control some containers on a storage account. I'm using some fairly low-level requests such as `put_blob` and `get_blob_properties`, which I appreciate isn't always the point of fog, however the mocks are very useful indeed. I noticed that when mocking is turned on, the value returned by `get_blob_properties` in the mock

[2018-05-29 06:12] bilal-naeem-confiz commented on #387
@easkay
Please feel free to ask about anything that you are finding hard to understand. We are here to help.

[2018-05-29 18:54] easkay commented on #387
@bilal-naeem-confiz Hi there, thanks very much. I'm going to start by attempting to fix the tests and then see what else breaks (I suspect a lot). Looking at `ApiStub::Requests::Storage::File`, and specifically the `blob` method, that too returns a hash and I imagine that if this method were to return a Azure::Storage::Blob::Blob instead, then a bunch of stuff would probably break. I'm not too sur

[2018-05-29 20:46] easkay commented on #387
@bilal-naeem-confiz I've got a PR open (#388) so that we can have a chat about the implementation and to get some feedback if you have time.

[2018-06-13 08:03] #387 closed

[2018-07-09 11:04] filipeperdigaosousa opened #389 "TypeError: exception class/object expected"
I'm trying to use it with asset_sync gem but I cannot upload any files.

When the it is listing the existing blobs it is raising an error "TypeError: exception class/object expected" at this point, https://github.com/fog/fog-azure-rm/blob/42ca817a35f6a64603ca0a7e27feaf4ad4605f5a/lib/fog/azurerm/requests/storage/list_blobs.rb#L24.

Should you check if "temp" is instance of Azure::Storage::Common::S

[2018-07-19 07:19] WalterS opened #390 "Still mime-types conflict"
When loading fog/azurerm and fog/google, the following error pops up:
[code]

[2018-07-19 08:58] WalterS commented on #390
When I set the mime-types dependency to `'~> 3', '>= 3.0'`, I get ```Gem::ConflictError: Unable to activate fog-azure-rm-0.4.9, because fog-json-1.2.0 conflicts with fog-json (~> 1.0.2)```.
When I set the fog-json dependency to `'~> 1', '>= 1.0'`, I get ```Gem::ConflictError: Unable to activate azure-storage-0.11.5.preview, because nokogiri-1.8.4 conflicts with nokogiri (~> 1.6.0)```.
Only if I re

[2018-08-08 11:34] aheumaier commented on #389
@filipeperdigaosousa Sounds sane for me . Would you provide a PR ?

[2018-08-08 13:17] aheumaier commented on #389
@bilal-naeem-confiz comments?

[2018-08-08 13:39] bilal-naeem-confiz commented on #389
@filipeperdigaosousa @aheumaier
That seems correct to me.

@filipeperdigaosousa can you generate a PR for this? I'll test it out and merge it

[2018-08-09 15:26] geemus commented on #390
@WalterS Did the dependency bump you submitted resolve this? Thanks!

[2018-08-11 05:38] anandaraajparthiban opened #394 "Need support for creating vm with Availability zones."
Hi,

Need support for Creating Azure vms with Availability Zone information.

To create a zone-redundant scale set, specify multiple zones with the --zones parameter. The following example creates a zone-redundant scale set named myScaleSet across zones 1,2,3:

Azure CLI ＝ Copy

az vmss create \
    --resource-group myResourceGroup \
    --name myScaleSet \
    --image UbuntuLTS \
    --upgrade-po

[2018-08-13 05:54] bilal-naeem-confiz commented on #394
Hi @anandaraajparthiban
Currently, we do not have support for Availability Zones in fog-azure-rm. However, you are welcome to open a PR to add support for Availability Zones. If you do, I can review and merge it.

[2018-08-22 06:54] bharathpendem opened #395 "Json file location"
Hi ,

When we check the Azure rm  , it actually accepts the json template as input. My question is where we are generating  the template in Fog-azure-rm ?

Thanks in advance..

[2018-08-24 06:20] parweenk opened #396 "fog-azure-rm cosmosdb"
Do we have azure-rm cosmosdb account creation functionality available through fog. If yes, can you please help me on this. Thanks.

[2018-08-27 09:49] lordcf commented on #367
@bingosummer, @bilal-naeem-confiz Is this merged on master CF branch now? We are installing CF on azure stack and would like to utilize Azure Stack Blobstorage

[2018-08-27 18:44] joyal-ks opened #397 "SQL server creation exception"
Hi

I am trying to create SQL server in azure following the official documentation but I am getting deserialization exception (SQL server is getting created ).

code I am using:

[code]

This is the error that I am getting:

[2018-08-27 19:29] zrob commented on #367
@lordcf this was merged into the CF cloud controller a few days ago, but has not made it into a release yet. It will be available in capi-release 1.67.0.  You can watch for cf-deployment to begin consuming capi-release 1.67.0 or newer.

[2018-09-04 05:35] parweenk commented on #397
Hi am facing exactly same issue... If anyone can help on this will be appreciated. Thanks.

[2018-09-04 07:43] bilal-naeem-confiz commented on #397
@joyal-ks @parweenk
I'll take a look at this and let you know what I find. Most probably it has something to do with parsing the response.

[2018-09-06 10:52] #303 closed

[2018-09-06 10:53] #305 closed

[2018-09-10 04:48] lordcf commented on #367
@bingosummer Yep, we could install CF 4.0 with capi-release v1.67.0 and it worked with Azure Stack Blobstorage as well for us.

[2018-10-10 13:30] sahebjade opened #403 "Create VM fails using azure shared image gallery"
I am trying to create a VM using azure shared image gallery, but is giving the below exception

Exception in Getting Image 1.0.0 in Resource Group xxx-rg: ResourceNotFound: The Resource 'Microsoft.Compute/images/1.0.0' under resource group 'xxx-rg' was not found.

[2018-10-10 13:32] sahebjade commented on #403
However using azure cli, I am able to create the VM

[2018-10-22 15:36] dmitryshagin commented on #390
Still in conflict. Why do we need the unsupported 1.x version of MIME-types? Need to switch to a newer one, or even drop explicit version, or change it from `~>` to `>=`.

[2019-01-07 12:53] apuntamb opened #408 "Method "deserialize" is not defined for nil when running with mock"
In [list_resource_groups.rb](https://github.com/fog/fog-azure-rm/blob/42ca817a35f6a64603ca0a7e27feaf4ad4605f5a/lib/fog/azurerm/requests/resources/list_resource_groups.rb#L46), deserialize method is being called on `@rmc` which is not initialized earlier and hence, throws the following error when `list_group_resources` method is called
`NoMethodError: undefined method `deserialize' for nil:NilClass

[2019-06-03 10:20] girip11 opened #421 "Unable to fetch image from azure storage"
I am using fog-azure-rm along with carrierwave to upload images to azure storage. I am using the latest version of fog-azure-rm which is 0.5.2.

Upload to the azure storage account is successful. But when I load the image, I get the error "The asset XYZ is not present in the asset pipeline.". I have checked and the required image is in the storage account.

In the rails console, I am able to creat

[2019-06-04 06:22] girip11 commented on #421
I am able to root cause the issue. I am facing this issue only when I set **fog_public** setting to false.

I am using carrierwave with the following configuration
[code]
I am using the fog_public as false. So upload or fetch calls will be authenticated. In the latest version of carrierwave gem, to get the authenticated url,
[code]
I added **AZURERM** to the array and I was able to get the images

[2019-06-04 06:27] girip11 commented on #421
Looking at the carrierwave source code I can see 'AZURERM' option now, but the latest changes were not published to rubygems. Taking direct dependency on the github source seems to solve the issue.

[2019-06-04 06:27] girip11 commented on #421
Closing this issue.

[2019-06-04 06:27] #421 closed

[2019-09-26 08:56] radlero opened #422 "Current Version locks Nokogiri to 1.6.8.1 (Security Vulnerability)"
Current version 0.5.2 has runtime dependency version of azure-storage (0.11.5.preview) used Nokogiri gem (version ~> 1.6.0) that has multiple serious security vulnerabilities. Please update the azure-storage dependency at least to version 0.12.2.preview that dropped Nokogiri dependency at all, therefore eliminating a problem.

[2020-06-30 16:33] yelvert commented on #359
2.5 years now, where is this?

[2020-08-14 08:33] zeeshan-k opened #430 "fog-core version dependency"
Hello,
fog-core dependency of this gem is > 1.43, however fog-openstack has a dependency and installs fog-core-2.2.0. I have a certain requirement for both cloud platforms and this runs into a version conflict.
`/usr/lib64/ruby/2.5.0/rubygems/specification.rb:2327:in ``raise_if_conflicts': Unable to activate fog-openstack-1.0.11, because fog-core-1.45.0 conflicts with fog-core (> 2.1) (Gem::Confli

[2021-02-25 10:09] nitzien commented on #430
Similar issue. Also, by default it is trying to install 0.0.4 version instead of 0.5.3.

[code]

[2021-03-24 21:28] JenGoldstrich opened #436 "Can we update azure-storage dependancy version?"
Hello,

There are several known issues with the version of azure-storage currently used in this project, I see some PRs and issues in this repo that also relate to my issue, the best one being https://github.com/fog/fog-azure-rm/pull/418.  [My team's product](https://github.com/cloudfoundry/capi-release) has had a regression in our Azure compatibility since a [release last year](https://github.com

[2021-09-09 20:16] JenGoldstrich commented on #436
Closing this out as we were able to resolve this issue for the branch our team consumes in https://github.com/fog/fog-azure-rm/pull/438

[2021-09-09 20:16] #436 closed

[2022-02-01 17:23] sethboyles commented on #390
@geemus I think this can be closed

[2022-02-01 17:24] sethboyles commented on #359
@geemus I think this can be closed

[2022-02-01 22:29] geemus commented on #390
Thanks!

[2022-02-01 22:29] #390 closed

[2022-02-01 22:29] geemus commented on #359
Thanks!

[2022-02-01 22:29] #359 closed